hr {
 border: 1px solid #878787;
}

.badge-pill {
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 160px;
  color: white;
  display: inline;
}

.badge-default {
  background-color: #fbf9f9;
}

.pill-focus {
  background-color: #2969ff;
}

.pill-type {
  background-color: #ff0028;
}

.text-blue {
  color: #2969FF;
}

.text-red {
  color: #ff0028;
}

.text-black {
  color: #181818;
}

.text-white{
  color: #ffffff;
}

.cards {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 32px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.18);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.18);
}

.main-body {
  margin-top: 105px;
}

.active-tab-bar {
  width: 20px;
  height: 4px;
  background-color:#ff0028;
  display: inline-block;
}

.btn {
  border-radius: 12px;
  line-height: 2;
  padding-right: 24px;
  padding-left: 24px;

}

